@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    background: white;
    padding: 200px 0;
    align-items: center;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif
}
